# MongoDB
MONGODB_URI=mongodb://localhost:27017/your_database_name

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Twilio SMS Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here

# OneSignal Push Notifications
ONESIGNAL_APP_ID=bd7cf25d-3767-4075-a84d-3f9332db9406
ONESIGNAL_REST_API_KEY=os_v2_app_xv6pexjxm5ahlkcnh6jtfw4uaysjwjo7rmlen35t2y2jnizajtbfvvbm27o2mdmbq2l5nsx7khz7an3xzmx35hbupuoydek2wwa7ykq