# MongoDB
MONGODB_URI=mongodb://localhost:27017/your_database_name

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Twilio SMS Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here
TWILIO_VERIFY_SERVICE_SID=your_twilio_verify_service_sid_here

# OneSignal Push Notifications
ONESIGNAL_APP_ID=e4150da6-cd3a-44f2-a193-254898ba5129
ONESIGNAL_APP_AUTH_KEY=os_v2_app_4qkq3jwnhjcpfimtevejrosrff6ayktoxlcusomf7x2kzt473d74prkgsjciz5qfn4zaef4i5isfvk7omc2aihyycxfrbxosoudl2bq

# AI Service

# Server Configuration
PORT=5000
NODE_ENV=development